.vscode 
.DS_Store

# Client folders to ignore
# Logs
client/logs
client/*.log
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/pnpm-debug.log*
client/lerna-debug.log*

client/node_modules
client/dist
client/dist-ssr
client/*.local

# Editor directories and files
client/.vscode/*
client/.idea
client/*.suo
client/*.ntvs*
client/*.njsproj
client/*.sln
client/*.sw?
client/.env*

# Server folders to ignore
# compiled output
server/dist
server/node_modules

# Logs
server/logs
server/*.log
server/npm-debug.log*
server/pnpm-debug.log*
server/yarn-debug.log*
server/yarn-error.log*
server/lerna-debug.log*

# OS
server/.DS_Store

# Tests
server/coverage
server/.nyc_output

# IDEs and editors
server/.idea
server/.project
server/.classpath
server/.c9/
server/*.launch
server/.settings/
server/*.sublime-workspace

# IDE - VSCode
server/.vscode/*

# .env files
server/.env*

